node_modules/
.npm
.eslintcache
.antlr
.github/
.gitignore
.npmignore

# Build
bin/
build/
build.txt
typings-autogen/
coverage/

# The following is commented out because
# apparently optimizing the npm package
# actually *lowers* npm's quality score :(

# Dev env
# .eslintrc.js
# jsconfig.json
# tsconfig.json

# Build system
# build.binaries.config.mjs
# build.binaries.mjs
# rollup.config.bundletypes.mjs
# rollup.config.package.mjs

# Tests
# test/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
